@font-face {
  font-family: Bauhaus;
  src: url(Bauhaus-Regular.ttf);
}

body *, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Bauhaus;
  user-select: none;
}

a {
  color: inherit;
}

a:hover {
  font-style: italic;
}

.pc {
  display: inline;
}

.mobile {
  display: none;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#sketch {
  width: 85vh;
  height: 85vh;
  touch-action: none;
  aspect-ratio: 1/1;
}

.credits {
  font-size: 1.5rem;
  width: 100vw;
  position: absolute;
  bottom: 1vh;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.instructions {
  position: absolute;
  font-size: 1.5rem;
  width: 100vw;
  text-align: center;
  top: 1vh;
  color: red;
}

#download {
  color: red;
  text-decoration: none;
  cursor: pointer;

  padding: 0.5rem;
  border: 1px solid red;
  border-radius: 2px;
}

@media only screen and (max-width: 480px) {
  .credits {
    justify-content: space-around;
    font-size: 0.8rem;
    bottom: 5vh;
  }

  .instructions {
    font-size: 2rem;
    top: 10vh;
  }

  .mobile {
    display: inline;
  }

  .pc {
    display: none;
  }

  #sketch {
    width: 95vw;
    height: 95vw;
  }
}
